<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head th:replace="menu/Header::shared-header">
<body class="fix-header fix-sidebar">
<div th:replace="menu/Header::shared-body"></div>
<!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Update Fiscal Year</h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="container my-5">
                    <h3> Update Fiscal Year</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-8">
                                <form  th:action="@{/Admin/utilities/update/{id}(id=${fiscalYear.fy})}" th:object="${fiscalYear}" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="col-form-label">Fiscal year symbol</label> <input type="text" th:field="*{fy}" class="form-control" id="fy" placeholder="Fy"> <span th:if="${#fields.hasErrors('fy')}" th:errors="*{fy}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label  class="col-form-label">BS start date</label> <input type="text" th:field="*{fyStartBs}" class="form-control" id="fyStartBs" placeholder="FyStartBs"> <span th:if="${#fields.hasErrors('fyStartBs')}" th:errors="*{fyStartBs}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label  class="col-form-label">BS end date</label> <input type="text" th:field="*{fyEndBs}" class="form-control" id="fyEndBs" placeholder="FyEndBs"> <span th:if="${#fields.hasErrors('fyEndBs')}" th:errors="fyEndBs" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-8">
                                            <div class="form-group">
                                                <label class="col-form-label">Current Fiscal Year</label> <select class="form-control"
                                                                                           th:field="*{status}"
                                                                                           th:id="status">
                                                <option value=""> ----Select----</option>
                                                <option th:value="y" th:text="Yes"></option>
                                                <option th:value="n" th:text="No"></option>
                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-8">
                                            <input type="submit" class="btn btn-info" value="Update">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End InvoiceBot-->
            </div>
            <!--End Invoice-->
        </div>
    </div>
    <div th:replace="menu/Header::shared-footer"></div>
    <!-- End footer -->
</div>
<!-- End Container fluid  -->
</div>

<script>

</script>

</body>

</html>