<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Welcome To Register User Page for Admin</h1>
<form th:action="@{/showreg}" th:object="${user}" method="post">
    <pre>
    UserName:<input type="text" th:field="*{username}">
    Password:<input type="text" th:field="*{password}">
    Select The Roles for user: <select id="user-type" th:field="*{rolelist}" multiple="multiple">
    <option th:each="role: ${userlist}"
    th:value="${role}" th:text="${role}">
    </option>
</select>
    <input type="submit" value="Submit">
        </pre>

</form>

</body>
</html>