<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="menu/Header::shared-header">
<body class="fix-header fix-sidebar">
	<div th:replace="menu/Header::shared-body"></div>


	<!-- Page wrapper  -->
	<div class="page-wrapper">
		<!-- Bread crumb -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-primary">Fiscal Year</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a
						th:href="@{javascript:void(0);}">Utilities</a></li>
					<li class="breadcrumb-item active">Fiscal Year</li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb -->
		<!-- Container fluid  -->
		<div class="container-fluid">
			<div class="row" th:if="${success!= null}">
				<input type="hidden" id="success" role="alert" th:value="${success}" />
			</div>
			<div class="row" th:if="${error!= null}">
				<input type="hidden" id="error" role="alert" th:value="${error}" />
			</div>
			<!-- Start Page Content -->
			<div class="row">
				<div class="col-lg-12">
					<div class="card card-outline-primary">
						<div class="card-body">
							<form th:action="@{/Admin/utilities/fiscal-year}"
								th:method="post" class="ui form">
								<div class="form-body">
									<h3 class="text-primary">Enter Fiscal Year</h3>
									<hr>
									<!--row-->
									<div class="row p-t-20">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Fiscal Year</label> <input
													type="text" id="fy" name="fy" class="form-control"
													placeholder=""> <small
													class="form-control-feedback">Enter Fiscal Year</small>

											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">BS Start Date</label> <input
													type="text" id="bsStart" name="fyStartBs"
													class="form-control" minlength="10" maxlength="10"
													placeholder="2075-01-01"> <small
													class="form-control-feedback">Enter Nepali Start
													Date Here</small>

											</div>
										</div>
										<!--/span-->
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">BS End Date</label> <input
													type="text" id="bsEnd" name="fyEndBs" class="form-control"
													minlength="10" maxlength="10" placeholder="2075-01-01">
												<small class="form-control-feedback">Enter Nepali
													End Date Here</small>
											</div>
										</div>

										<!--/span-->
									</div>
									<!--/row-->


									<!--/row-->
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-info">Save</button>

								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive m-t-40">
								<table id="myTable"
									class="display nowrap table table-hover table-striped table-bordered"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>S.N</th>
											<th>Fiscal year symbol</th>
											<th>BS start date</th>
											<th>BS end date</th>
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.N</th>
											<th>Fiscal year symbol</th>
											<th>BS start date</th>
											<th>BS end date</th>
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="fy, counter : ${fiscalYearList}">
											<td th:text="${counter.index+1}" />
											<input type="hidden" th:value="${counter.index+1}" id="fys" />
											<td th:text="${fy.fy}"/>
											<td th:text="${fy.fyStartBs}" />
											<td th:text="${fy.fyEndBs}" />
											<td><a href="/Admin/utilities/fiscal-year">Edit</a></td>
											<!-- 	th:href="@{/admin/utilities/delete/{id}(id=${fy.fy})}" 											<td><a th:href="${'/admin/utilities/delete/'+fy.fy}">Delete</a></td> -->
										<!-- 	<td><a href='#' onclick="deleteFy($('#fysymb1').val())">Delete</a></td> -->
										<td><a th:href="@{/Admin/utilities/delete/{id}(id=${fy.fy})}">Delete</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End PAge Content -->
		</div>
		<!-- End Container fluid  -->
		<!-- footer -->
		<!-- footer -->
		<div th:replace="menu/Header::shared-footer"></div>
		<!-- End footer -->
		<!-- End footer -->
	</div>
	<!-- End Page wrapper  -->
	</div>
	<!-- End Wrapper -->
	<!-- All Jquery -->
	 <script th:src="@{/js/lib/datatables/datatables-init.js}"></script>


	<script>
		//         $(document).ready(function() {
		//         	$( ".select2" ).select2({
		//         	    theme: "bootstrap"
		//         	});
		//         });
	/* 	$.fn.select2.defaults.set("theme", "bootstrap"); */
	</script>
	<script>
		function deleteFy(sn) {

			alert(sn);

			if (confirm("Do u want to delete?")) {

				var URL = "/Admin/utilities/delete/"+sn;
				alert(URL);

				$.ajax({
					type : 'DELETE',
					url : URL,
					data : {},
					success : function() {

						location.reload();
					}
				});
			}
		}
	</script>

</body>

</html>