<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="no-cache">
<meta name="author" content="no-cache">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.png}">
<title>Ela - Bootstrap Admin Dashboard Template</title>

<link th:href="@{/css/lib/sweetalert/sweetalert.css}" rel="stylesheet">

<!-- Bootstrap Core CSS -->
<link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/css/helper.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
    <script th:src="@{https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
	<!-- Preloader - style you can find in spinners.css -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none"
				stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>
	<!-- Main wrapper  -->
	<div id="main-wrapper">

		<div class="unix-login">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-4">
						<div class="login-content card">
							<div class="login-form">
								<form th:action="@{/api/change-password}"
									th:object="${changePasswordDTO}" th:method="post"
									id="changePassword">
									<input type="hidden" name="_method" id="_method" value="put" />
									<div class="form-group">
										<label>User Name</label> <input type="text"
											class="form-control" th:name="username" id="username"
											th:if="${user != null}" th:value="${user.username}"
											placeholder="Username" readonly="readonly">
									</div>
									<div class="form-group">
										<label>Old Password</label> <input type="password"
											class="form-control" name="oldPassword" id="oldPassword"
											placeholder="Enter Old Password"> <span
											id="verifyOldPassword"></span>
									</div>
									<div class="form-group">
										<label>New Password</label> <input type="password"
											class="form-control" name="newPassword" id="newPassword"
											placeholder="Enter New Password">
									</div>
									<div class="form-group">
										<label>Retype New Password</label> <input type="password"
											class="form-control" name="confirmPassword" id="cnewPassword"
											placeholder="Confirm New Password"> <span
											id="errorMsg"></span>
									</div>
									<button type="submit"
										class="btn btn-primary btn-flat m-b-30 m-t-30">Reset
										Password</button>
									<div class="register-link m-t-15 text-center">
										<p>
											Cancel Operation <a th:href="@{/login}"> Sign In Here</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End Wrapper -->
	<!-- All Jquery -->
	<script th:src="@{js/lib/jquery/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{js/lib/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{js/lib/bootstrap/js/bootstrap.min.js}"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script th:src="@{js/jquery.slimscroll.js}"></script>
	<!--Menu sidebar -->
	<script th:src="@{js/sidebarmenu.js}"></script>
	<!--stickey kit -->
	<script th:src="@{js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>

	<script th:src="@{/js/lib/sweetalert/sweetalert.min.js}"></script>
	<!-- scripit init-->
<!-- 	<script th:src="@{/js/lib/sweetalert/sweetalert.init.js}"></script> -->

	<!--Custom JavaScript -->
	<script th:src="@{js/custom.min.js}"></script>
	<script>
		$(document).ready(function(){
			$("form").attr('autocomplete', 'off');			
		});
	</script>

	<script>
		function verifyOldPassword(){
			var bullean = new Boolean();
			$.ajax({
				type : "GET",
				url : "/api/change-password/verify",
	            data: {"username": $('#username').val(), "oldPassword": $('#oldPassword').val()},
	            success : function(datas){
// 					alert("S: "+JSON.stringify(datas));
					if(datas.status){
						document.getElementById('verifyOldPassword').innerHTML = "** Old Passwords Verified.";
						bullean = true;
// 						alert(bullean)
						return bullean;
					}else{
						document.getElementById('verifyOldPassword').innerHTML = "** Old Passwords Not Validated.";
						bullean = false;
// 						alert(bullean)
						return bullean;
					}
				},
				error : function(datas){
// 					alert("E: "+JSON.stringify(datas));
					document.getElementById('verifyOldPassword').innerHTML = "** Server Error.";
// 					alert(true)
					bullean = false;
					return bullean;
				}
			});
		}

		</script>

	<script>
		function validateNewPasswords(){
			var newp = $("#newPassword").val();
			var cnewp = $("#cnewPassword").val();
			
			if(newp !== cnewp){
				console.log("error");
			 	document.getElementById('errorMsg').innerHTML = "** Passwords Do Not Match.";
				return false;
			}
			return true;
		}
	</script>

	<script>
		$("#changePassword").submit(function(e){
			
			verifyOldPassword();
						
				
				// validate form here			
				validateNewPasswords();
				
					e.preventDefault();

					var cpForm = $(this);
					var formData = {}
					$.each(this, function(i, v){
					    var input = $(v);
					    formData[input.attr("name")] = input.val();
					    delete formData["undefined"];
			        });
					
				    $.ajax({
					    	type: $("#_method").val(),
				            url: cpForm.attr('action'),
				    		contentType: "application/json",
				            dataType : 'json',
				            data: JSON.stringify(formData),
				            statusCode: {
				                202: function() {
				                	swal({
			            	            title: "Success!",
			            	            text: "Password reset successfully",
			            	            type: "success"
			            	        }, function() {
			            	            window.location = "login";
			            	        });
				                }, 304: function() {
				                	swal({
			            	            title: "Oops!",
			            	            text: "Could not reset password at this moment.",
			            	            type: "warning"
			            	        }, function() {
			            	            window.location = "login";
			            	        });
				               }, 500: function() {
				                	swal({
			            	            title: "Oops!",
			            	            text: "Something went wrong.",
			            	            type: "error"
			            	        }, function() {
			            	            window.location = "login";
			            	        });
				               }, 404: function() {
				                	swal({
			            	            title: "Oops!",
			            	            text: "Not Found.",
			            	            type: "error"
			            	        }, function() {
			            	            window.location = "login";
			            	        });
				               }
			                }
				         });
			    
			
		});

		</script>
</body>

</html>