<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="shared-header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="" sizes="16x16" href="">
<title>Billing System</title>
<link th:href="@{/css/lib/chartist/chartist.min.css}" rel="stylesheet">
<link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet" />
<link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/css/helper.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/font.kantipur.css}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- All Jquery -->
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<!--stickey kit -->
<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/number.to.words.js}"></script>
</head>
<body>
	<div th:fragment="shared-body">
		<!-- Preloader - style you can find in spinners.css -->
		<div class="preloader">
			<svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="2" stroke-miterlimit="10" /> </svg>
		</div>
		<!-- Main wrapper  -->
		<div id="main-wrapper">
			<!-- header header  -->
			<div class="header">
				<nav class="navbar top-navbar navbar-expand-md navbar-light">
					<!-- Logo -->
					<!--  <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            Logo icon
                            <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b>
                            End Logo icon
                            Logo text
                            <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                        </a>
                    </div> -->
					<!-- End Logo -->
					<div class="navbar-collapse">
						<!-- toggle and nav items -->
						<ul class="navbar-nav mr-auto mt-md-0">
							<!-- This is  -->
							<li class="nav-item"><a
								class="nav-link nav-toggler hidden-md-up text-muted  "
								href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
							<li class="nav-item m-l-10"><a
								class="nav-link sidebartoggler hidden-sm-down text-muted  "
								href="javascript:void(0)"><i class="ti-menu"></i></a></li>
							<!-- Search -->
						</ul>
						<!-- User profile and search -->
						<ul class="navbar-nav my-lg-0">

							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle text-muted  " href="#"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><img th:src="@{/images/bookingSystem/3.png}"
									alt="user" class="profile-pic" /></a>
								<div
									class="dropdown-menu dropdown-menu-right animated slideInRight">
									<ul class="dropdown-user">
										<li role="separator" class="divider"></li>
										<li><a href="#"><i class="ti-user"></i> My Profile</a></li>
										<li><a th:href="@{/logout}"><i class="fa fa-power-off"></i>
												Logout</a></li>
									</ul>
								</div></li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- End header header -->
			<!-- Left Sidebar  -->
			<div class="left-sidebar">
				<!-- Sidebar scroll-->
				<div class="scroll-sidebar">
					<!-- Sidebar navigation-->
					<nav class="sidebar-nav">
						<ul id="sidebarnav">
							<li class="nav-devider"></li>
							<li class="nav-label"></li>
							<li><a class="has-arrow  " href="#" aria-expanded="false"><i
									class="fa fa-gg"></i><span class="hide-menu">Parameter</span></a>
								<ul aria-expanded="false" class="collapse">
									<li><a th:href="@{/Admin/parameter}">Item Parameter </a></li>
									<li><a th:href="@{/Admin/group}">Item Group </a></li>
								</ul></li>
							<li><a class="has-arrow  " href="#" aria-expanded="false"><i
									class="fa fa-gg"></i><span class="hide-menu">Operation</span></a>
								<ul aria-expanded="false" class="collapse">
									<li><a th:href="@{/Admin/billing}">Invoice Form </a></li>
								</ul></li>
							<li><a class="has-arrow  " href="#" aria-expanded="false"><i
									class="fa fa-gg"></i><span class="hide-menu">Utilities</span></a>
								<ul aria-expanded="false" class="collapse">
									<li><a th:href="@{/Admin/utilities/calendar}">Calendar</a></li>
									<li><a th:href="@{/Admin/utilities/fiscal-year}">Fiscal
											Year</a></li>
								</ul></li>
						</ul>

					</nav>
					<!-- End Sidebar navigation -->
				</div>
				<!-- End Sidebar scroll-->
			</div>
			<!-- End Left Sidebar  -->

			<!-- Container fluid  -->
			<div th:fragment="shared-footer">
			<footer class="footer">
			© 2019 All rights reserved.
		</footer>
			</div>
			
</body>
</html>