<!DOCTYPE html>
<html lang="en">

<head th:replace="menu/Header::shared-header">
<body class="fix-header fix-sidebar">
	<div th:replace="menu/Header::shared-body"></div>
	<!-- Page wrapper  -->
	<div class="page-wrapper">
		<!-- Bread crumb -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-primary">Invoice Form</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Operation</a></li>
					<li class="breadcrumb-item active">Invoice Form</li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb -->
		<div class="container-fluid">
			<!-- Start Page Content -->
			<div class="row">
				<div class="col-lg-12">
					<div id="invoice" class="effect2">
						<h4 class="text-primary">Bill Entry</h4>
						<form th:action="@{/Admin/billing}" th:object="${invoice}" method="post"
							id="invoiceForm">
							<div id="invoice-mid">
								<!-- <div class="card"> -->
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="card-body">
												<div class="form-body">
													<div class="row">
														<div class="col-md-3 ">
															<div class="form-group">
																<label>Date:</label> <input type="date"
																	th:field="*{date}" name="billDate" id="billDate"
																	class="form-control" required>
															</div>
														</div>
														<div class="col-md-3 ">
															<div class="form-group">
																<label>Invoice No.:</label> <input type="number"
																	name="billNumber" th:field="*{invoiceno}"
																	pattern="^\d+(?:\.\d{1,2})?$" id="billNumber" min="0"
																	class="form-control" required>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-lg-2">
															<label>Bill To:</label> <select class="form-control"
																th:field="*{billto}" name="honorific" id="honorific"
																required>
																<option th:value="'Mr'" th:text="Mr"></option>
																<option th:value="'Ms'" th:text="Ms"></option>
															</select>
														</div>
														<div class="col-md-5 ">
															<div class="form-group">
																<label>&nbsp;</label> <input type="text"
																	name="customerName" th:field="*{name}"
																	id="customerName" class="form-control" required>
															</div>
														</div>
														<div class="col-md-4">
															<label>Blood Group:</label> <select
																class="form-control select" th:field="*{bloodGroup}"
																name="bloodgroup" id="bloodgroup" required>
																<option th:value="cash" th:text="O"></option>
																<option th:value="credit" th:text="B"></option>
																<option th:value="draft" th:text="AB"></option>
															</select>
														</div>
													</div>
													<!--/row-->
													<div class="row">
														<div class="col-md-2">
															<div class="form-group">
																<label>Lab No:</label> <input type="number"
																	class="form-control" th:field="*{labno}" min="0"
																	name="labNumber" id="labNumber" required>
															</div>
														</div>
														<div class="form-group">
															<label>Payment type:</label> <select
																class="form-control select" th:field="*{paymenttype}"
																name="payementType" id="payementType" required>
																<option th:value="cash" th:text="Cash"></option>
																<option th:value="credit" th:text="Credit"></option>
																<option th:value="draft" th:text="Draft"></option>
															</select>
														</div>
														<div class="col-md-2">
															<div class="form-group">
																<label>Unit:</label> <input type="text"
																	class="form-control" th:field="*{unit}" name="unit"
																	id="unit" required>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label>Refer type:</label> <select
																	class="form-control select" th:field="*{refertype}"
																	name="referType" id="referType">
																	<option th:value="unit" th:text=" Unit" required></option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- </div> -->
							</div>
							<div id="container"></div>
							<!--End Invoice Mid-->
							<div id="invoice-bot">
								<div id="invoice-table">
									<div class="table-responsive">
										<div class="container">
											<table id="myTable" class=" table order-list" width="100%">
												<thead>
													<tr>
														<td>SN</td>
														<td>ITEM</td>
														<td>QUANTITY</td>
														<td>RATE</td>
														<td>AMOUNT</td>
														<td></td>
													</tr>
												</thead>
												<tbody>
													<tr>
													<!-- 	<td>
															<span th:text="*{itemDetailList[0].serialNumber}" class="item"
																id="test1"> 1 </span> <span> </span> <input
															type="hidden"
															th:field="*{itemDetailList[0].serialNumber}" class="item"
															id="test1"> 1 </input>

														</td> -->
														<td>
															<span name="item1" class="item"
																id="test1"> 1 </span>
																
															</td>
														<td><input type="text" name="description1"
															onchange="dropDownChange(1)"
															th:field="*{itemDetailList[0].description}"
															id="description1" class="form-control description"
															required>
														</input></td>
														<td><input type="number" name="quantity1"
															th:field="*{itemDetailList[0].quantity}" id="quantity1"
															required min="0" onkeyup="updateAmount(1)"
															onkeypress="enterDetect(event)"
															class="form-control quantity" /></td>
														<td><input type="number" step="0.01" min="0"
															name="itemDetailList[0].rate" id="rate1" required
															onkeypress="enterDetect(event)" onkeyup="updateAmount(1)"
															class="form-control rate" /></td>
														<td><input type="number" required name="amount1"
															th:field="*{itemDetailList[0].amount}" id="amount1"
															class="form-control amt amount" readonly="readonly"
															step="0.01" /></td>
															</tr>
												</tbody>

											</table>

											<div class="row">
												<div class="col-lg-12">
													<div class="row" style="padding-top: 1em">
														<div class="col-md-12">
															<div class="float-right">
																<label class="control-label ">Total Amount</label> <input
																	type="number" class="form-control " th:field="*{total}"
																	id="total" readonly="readonly"
																	onkeyup="updateAmount(1)"
																	onkeypress="enterDetect(event)">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 ">
															<div class="form-group">
																<label class="control-label col-md-2">Rs.In
																	Words</label> <input type="text" class="form-control "
																	th:field="*{words}" id="inWords" readonly="readonly">
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-7 ">
															<div class="form-group">
																<label>Any Query</label>
																<textarea row="4" name="customerName" id="customerName"
																	pattern="[A-Za-z]{3}" class="form-control"> </textarea>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div id="" style="margin: 0em 0em 0em 0em;">
												<div style="float: left;">
													<label>Received By :</label> <input type="text"
														class="form-control" id="reciveedBy" th:field="*{receivedby}">
												</div>
												<!--End Info-->
												<div style="float: right;">
													<label>Approved By :</label> <input type="text"
														class="form-control" id="approvedBy" th:field="*{approvedby}">
												</div>
												<!--End Title-->
											</div>

											<!--End Title-->
										</div>

									</div>
									<br>
								</div>

								<div class="row" style="padding-top: 1em">
									<div class=" col-md-9">
										<div align="center" style="margin-left: 190px">
											<button type="submit" class="btn btn-info" id="generateBill">Generate
												Bill</button>
										</div>
									</div>
								</div>
							</div>
							<!--End Table-->
						</form>
					</div>
					<!--End InvoiceBot-->
				</div>
				<!--End Invoice-->
			</div>
		</div>
		<!-- End PAge Content -->
		<!-- footer -->
		<div th:replace="menu/Header::shared-footer"></div>
		<!-- End footer -->
	</div>
	<!-- End Container fluid  -->
	</div>

	<script>
	$('#referType').on('change', function() {
	    alert( $(this).find(":selected").val() );
	});
		var date = new Date();
		var currentDate = date.toISOString().slice(0, 10);
		var currentTime = date.getHours() + ':' + date.getMinutes();

		document.getElementById('billDate').value = currentDate;
	</script>

<!-- 	<script th:inline="javascript">
		var c = 1;
		var globalCounter = c + 1;
		var idCounter = 2;

		function addRowButtonStyle() {
			//                console.log($("#myCheckbox" + c).is(":checked"));
			var counter = c + 1;
			console.log("value of c" + c);
			console.log("value of idcounter" + c);
			if (counter < globalCounter) {
				counter = globalCounter
			}
			console.log(counter, globalCounter);
			var z = counter - 1;
			var x = z - 1;

			console.log(counter, z, x);

			var newRow = $("<tr>");
			var cols = "";

			cols += '<td><span class="item" name="item' + idCounter + '" id="test' + idCounter + '">'
					+ counter + '</span></td>';
			cols += '<td><input type="text" name="itemDetailList['
					+ idCounter
					+ '].description" id="description'
					+ idCounter
					+ '"  class="form-control description" onchange="dropDownChange('
					+ idCounter + ')"></input></td>';
			cols += '<td><input type="text" class="form-control quantity" onkeypress="enterDetect(event)"  name="itemDetailList['
					+ idCounter
					+ '].quantity" id="quantity'
					+ idCounter
					+ '" onkeyup="updateAmount(' + idCounter + ')" /></td>';
			cols += '<td><input type="text" class="form-control rate" onkeypress="enterDetect(event)" name="itemDetailList['
					+ idCounter
					+ '].rate"  id="rate'
					+ idCounter
					+ '" onkeyup="updateAmount(' + idCounter + ')"/></td>';
			cols += '<td><input type="number" readonly="readonly" class="form-control amt amount" name="itemDetailList['
					+ idCounter
					+ '].amount"  id="amount'
					+ idCounter
					+ '" step="0.01"  /></td>';
			cols += '<td><input type="checkbox" id="myCheckbox'
					+ idCounter
					+ '"  value="checked"  onchange="getIndex(this);updateTotal();"/></td>';
			newRow.append(cols);
			$("table.order-list").append(newRow);
			$("#myCheckbox" + idCounter).prop('checked', true);
			dropdownItem(idCounter);
			counter++;
			globalCounter++;
			c++;
			idCounter++

		}
		function enterDetect(e) {

			var keycode = (e.keyCode ? e.keyCode : e.which);
			if (keycode == '13') {
				e.preventDefault();
				console.log("enter pressed");

				addRowButtonStyle();
			}

		}

		function dropdownItem(c) {
			console.log("Drowpdown Called" + c)
			let dropdown = $("#description" + c);

			dropdown.empty();

			dropdown
					.append('<option selected="true" disabled>Choose Item</option>');
			dropdown.prop('selectedIndex', 0);

			const url = '/api/getAllItemsAndGroups';

			// Populate dropdown with list of provinces
			$.getJSON(url, function(data) {
				$.each(data, function(key, entry) {
					dropdown.append($('<option></option>').attr({
						'value' : entry.id,
						'data-type' : entry.type,
					}).text(entry.name));
				})
			});
		}

		/* 	$('#description' + idCounter).on('change', function() {
				console.log("changed id is description" + idCounter);
				getRate();

			}); */

		function getRate() {
			var index = document.getElementById("description" + c).selectedIndex;
			var description = $('#description + c  option:selected').val();
			const urLink = '/api/getItemRateById?id=' + index;
			$.ajax({
				type : 'GET',
				url : urLink,
				success : function(result) {
					$('#rate' + c).val(result);
				}
			})
		}

		function dropDownChange(c) {
			console.log("here");
			var z = document.getElementById("description" + c).value;
			var e = document.getElementById("description" + c);

			var strUser = e.options[e.selectedIndex].dataset['type'];
			var selectedValue = e.options[e.selectedIndex].value;
			if (strUser == "item") {
				console.log("item");
				getRate();

			} else if (strUser == "group") {
				console.log(selectedValue);
				getItemsByGroupId(selectedValue);
			}

			else if (strUser == "Yukon") {
				console.log("press yukon");
			} else {
				console.log("press any");

			}
			console.log("Data Attribute" + strUser);
			if (z == "ON") {
				var item = "some Item"
				var rate = 5;
				addAnotherRow(3, c, item, rate);
				console.log(z);
			}
			console.log(z);
		}

		function getItemsByGroupId(selectedValue) {
			const url = '/api/getItemsByGroupId?groupId=' + selectedValue;
			$.getJSON(url, function(data) {
				console.log("length" + data.length);
				if (data.length > 0) {
					addAnotherRow(data.length, c);
					$.each(data, function(key, entry) {
						$('#description2').val(entry.itemName);
						console.log(entry.itemName);

					})

				}

			});

		}

		/* $.getJSON(url, function(data) {
			$.each(data, function(key, entry) {
				dropdown.append($('<option></option>').attr('value',
						entry.abbreviation).text(entry.name));
			})
		});
		}
		function dropDownChange(c) {
		var z = document.getElementById("description" + c).value;
		if (z == "ON") {
			var item = "some Item"
			var rate = 5;
			addAnotherRow(3, c, item, rate);
			console.log(z);
			
		}
		console.log(z);
		} */

		function addAnotherRow(numberOfRow, count, item, rate) {
			$("#myCheckbox" + count).prop('checked', true);
			var counter = count + 1;
			console.log("idcounter=" + idCounter + "counter=" + counter);

			var z = counter - 1;
			var x = z - 1;
			var forLast = count + 2;
			for (i = 1; i <= numberOfRow; i++) {

				console.log(counter, z, x);
				var newRow = $("<tr>");
				var cols = "";

				cols += '<td><span class="item" name="item' + idCounter + '" id="test' + counter + '">'
						+ globalCounter + '</span></td>';
				cols += '<td><select name="itemDetailList['
						+ idCounter
						+ '].description" id="description'
						+ idCounter
						+ '"  class="form-control description" onchange="dropDownChange('
						+ idCounter + ')"></select></td>';
				cols += '<td><input type="text" class="form-control quantity" onkeypress="enterDetect(event)" name="itemDetailList['
						+ idCounter
						+ '].quantity" id="quantity'
						+ idCounter
						+ '" onkeyup="updateAmount(' + idCounter + ')" /></td>';
				cols += '<td><input type="text" class="form-control rate" onkeypress="enterDetect(event)" name="itemDetailList['
						+ idCounter
						+ '].rate"  id="rate'
						+ idCounter
						+ '"  onkeyup="updateAmount('
						+ idCounter
						+ ')" /></td>';
				cols += '<td><input type="number" readonly="readonly" class="form-control amt amount" name="itemDetailList['
						+ idCounter
						+ '].amount"  id="amount'
						+ idCounter
						+ '" step="0.01" onClick="getAmount('
						+ counter
						+ ')"  onblur="updateTotal();"/></td>';
				cols += '<td><input type="checkbox" id="myCheckbox'
						+ idCounter
						+ '" onchange="getIndex(this);updateTotal();" value="checked"  /></td>';
				newRow.append(cols);
				$("table.order-list").append(newRow);

				dropdownItem(counter);
				console.log(counter);

				$("#myCheckbox" + counter).prop('checked', true);

				counter++;
				globalCounter++;
				idCounter++;
				console.log("idcounter=" + idCounter + "counter=" + counter);
			}
		}

		function deleteRow(z, row) {

			--globalCounter;

			--c;
			var siblings = row.siblings();
			document.getElementById("myTable").deleteRow(z);
			siblings.each(function(index) {
				$(this).children('td').first().text(index + 1);
			});
			console.log("globle counter" + globalCounter);

		}
		function getIndex(s) {
			var cell = $(s).closest('td');
			var cellIndex = cell[0].cellIndex
			var row = cell.closest('tr');
			var rowIndex = row[0].rowIndex;

			console.log(rowIndex, row);
			deleteRow(rowIndex, row);

		}
	</script>


	<script>
		function getAmount(c) {

			var quantityid = "quantity" + c;
			var rateid = "rate" + c;
			var amountid = "amount" + c;
			var quantity = document.getElementById(quantityid).value;
			var rate = document.getElementById(rateid).value;
			document.getElementById(amountid).value = quantity * rate;
			console.log(rate);

		}
	</script>

	<script>
		function updateTotal() {
			var totalAmount = 0;

			$(".amt").each(function() {
				if (!isNaN(this.value) && this.value.length !== 0) {
					totalAmount += parseFloat(this.value);
				}
				console.log(totalAmount);
				$("#amountTotal").val(totalAmount.toFixed(2));
				getTaxableAmount();
			});
		}

		function getTaxableAmount() {
			
			var grandTotal =  $("#amountTotal").val();
			$("#taxableAmount").val(taxable.toFixed(2));
			$("#vat").val(vat.toFixed(2));
			$("#total").val(grandTotal.toFixed(2));
			convert(grandTotal.toFixed(2));
			convertAmount();
			//                console.log(convert(grandTotal.toFixed(2))); 
		}
	</script>
 -->

	<script>
		var iWords = [ 'Zero', ' One', ' Two', ' Three', ' Four', ' Five',
				' Six', ' Seven', ' Eight', ' Nine' ];
		var ePlace = [ 'Ten', ' Eleven', ' Twelve', ' Thirteen', ' Fourteen',
				' Fifteen', ' Sixteen', ' Seventeen', ' Eighteen', ' Nineteen' ];
		var tensPlace = [ '', ' Ten', ' Twenty', ' Thirty', ' Forty', ' Fifty',
				' Sixty', ' Seventy', ' Eighty', ' Ninety' ];
		var inWords = [];

		var numReversed, inWords, actnumber, i, j;

		function tensComplication() {
			if (actnumber[i] == 0) {
				inWords[j] = '';
			} else if (actnumber[i] == 1) {
				inWords[j] = ePlace[actnumber[i - 1]];
			} else {
				inWords[j] = tensPlace[actnumber[i]];
			}
		}

		function convertAmount() {
			var numericValue = document.getElementById('total').value;
			numericValue = parseFloat(numericValue).toFixed(2);

			var amount = numericValue.toString().split('.');
			var taka = amount[0];
			var paisa = amount[1];

			if (paisa > 0) {
				$("#inWords").val(
						convert(taka) + " Rupees And" + convert(paisa)
								+ " Paisa Only.");

			} else {
				$("#inWords").val(convert(taka) + " Rupees Only.");
			}
			//                document.getElementById('container').innerHTML = convert(taka) + "  and " + convert(paisa) + " paisa only";

		}
		function convert(numericValue) {
			inWords = []
			if (numericValue == "00" || numericValue == "0") {
				return 'Zero';
			}
			var obStr = numericValue.toString();
			numReversed = obStr.split('');
			actnumber = numReversed.reverse();

			if (Number(numericValue) == 0) {
				document.getElementById('container').innerHTML = '';
				return false;
			}

			var iWordsLength = numReversed.length;
			var finalWord = '';
			j = 0;
			for (i = 0; i < iWordsLength; i++) {
				switch (i) {
				case 0:
					if (actnumber[i] == '0' || actnumber[i + 1] == '1') {
						inWords[j] = '';
					} else {
						inWords[j] = iWords[actnumber[i]];
					}
					inWords[j] = inWords[j] + '';
					break;
				case 1:
					tensComplication();
					break;
				case 2:
					if (actnumber[i] == '0') {
						inWords[j] = '';
					} else if (actnumber[i - 1] !== '0'
							&& actnumber[i - 2] !== '0') {
						inWords[j] = iWords[actnumber[i]] + ' Hundred';
					} else {
						inWords[j] = iWords[actnumber[i]] + ' Hundred';
					}
					break;
				case 3:
					if (actnumber[i] == '0' || actnumber[i + 1] == '1') {
						inWords[j] = '';
					} else {
						inWords[j] = iWords[actnumber[i]];
					}
					if (actnumber[i + 1] !== '0' || actnumber[i] > '0') {
						inWords[j] = inWords[j] + ' Thousand';
					}
					break;
				case 4:
					tensComplication();
					break;
				case 5:
					if (actnumber[i] == '0' || actnumber[i + 1] == '1') {
						inWords[j] = '';
					} else {
						inWords[j] = iWords[actnumber[i]];
					}
					if (actnumber[i + 1] !== '0' || actnumber[i] > '0') {
						inWords[j] = inWords[j] + ' Lakh';
					}
					break;
				case 6:
					tensComplication();
					break;
				case 7:
					if (actnumber[i] == '0' || actnumber[i + 1] == '1') {
						inWords[j] = '';
					} else {
						inWords[j] = iWords[actnumber[i]];
					}
					inWords[j] = inWords[j] + ' Crore';
					break;
				case 8:
					tensComplication();
					break;
				default:
					break;
				}
				j++;
			}

			inWords.reverse();
			for (i = 0; i < inWords.length; i++) {
				finalWord += inWords[i];
			}
			return finalWord;
		}
		function updateAmount(id) {
			console.log("Id passedis" + id);
			getAmount(id);
			updateTotal();

		}
	</script>
	<script>
	  
		   
	   
     
	</script>

</body>

</html>