<!DOCTYPE html>
<html lang="en">

<head th:replace="menu/Header::shared-header">
<style>
@page {
	size: auto;
	margin: 0mm;
}
</style>
<body class="fix-header fix-sidebar">
	<!-- Main wrapper  -->
	<div id="main-wrapper">
		<!-- Page wrapper  -->
		<!-- <div class="page-wrapper"> -->
		<!-- End Bread crumb -->
		<!-- Container fluid  -->
		<div class="container">
			<!-- Start Page Content -->
			<div class="row">
				<div class="col-lg-12" id="printablediv">
					<div id="invoice" class="effect2" style="padding-top: 3em;">
						<div id="invoice-top">
						<div class="invoice-logo"></div> 
							<div class="invoice-info"
								style="margin-left: 30px; font-family: tahoma; font-size: 12px;">
								<h4>
									Nepal Red Cross Society<br> Address :Red Cross Marg,
									Kalimati, Kathmandu, Nepal<br> P.O.Box No. :217<br>
									Telephone No. :+977-1-4272761<br>Fax:+977-4271915,4273285<br>
									Email:nrcs@nrcs.org, info@nrcs.org<br>
								</h4>
							</div>
							<!--End Info-->
							<table style="margin-left: 46em;">
								<tr>
									<td>Invoice No:</td>
									<td th:text="${list.invoiceno}">00123</td>
								</tr>
								<tr>
									<td style="border: 0px">Issued Date:</td>
									<td th:text="${list.date}"></td>
								</tr>
							</table>
							<!--End Title-->
						</div>
						<!--End InvoiceTop-->
						<table style="margin: 5em 1em 1em 0em;">
							<tr style="border: 0px">
								<td>Name:</td>
								<td th:text="${list.billto}">Mr</td>
								<td th:text="${list.name}">Rajendra Dhakal</td>
							</tr>

						</table>
						<!--End Invoice Mid-->
						<div id="invoice-bot">
							<div id="invoice-table">
								<table class="js-serial" width="100%">
									<thead>
										<tr class="tabletitle">

											<th width="25%" class="lp">SNo.</th>
											<th width="45%" class="lp">ITEM</th>
											<th width="10%" class="lp">QTY</th>
											<th width="10%" class="lp">RATE</th>
											<th width="10%" class="lp">AMOUNT</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="items : ${list.itemDetailList}"
											th:if="${items!=null}">

											<tr class="service">
												<td class="tableitem" th:field="*{items.serialNumber}"><span
													class="itemtext"></span></td>

												<td class="tableitem" th:text="${items.description}"><span
													class="itemtext"></span></td>

												<td class="tableitem" th:text="${items.quantity}"><span
													class="itemtext"></span></td>

												<td class="tableitem" th:text="${items.rate}"><span
													class="itemtext"></span></td>

												<td class="tableitem" th:text="${items.amount}"><span
													class="itemtext"></span></td>
											</tr>
									</tbody>
								</table>

								<br>
							</div>

							<table style="margin: 1em 0em 1em 46em;">
								<tbody>
									<tr>
										<td>Amount:</td>
										<td th:text="${list.totalamount}">5000</td>
									</tr>
									<tr>
										<td>Discount:</td>
										<td th:text="${list.discount}">10</td>
									</tr>
									<tr>
										<td>Taxable Amt:</td>
										<td th:text="${list.taxableamount}">9500</td>
									</tr>
									<tr>
										<td>13% VAT:</td>
										<td th:text="${list. vat}">5000</td>
									</tr>
									<tr>
										<td>Total:</td>
										<td th:text="${list.total}">100000000</td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-md-12 ">
									<div class="form-group">
										<p>
											Rs.In Words: <input type="text" class="form-control "
												id="inWords" readonly="readonly" th:field="*{list.words}">
										</p>
									</div>
								</div>
							</div>

							<!--End Table-->
						</div>
						<!--                            <br>-->
						<div id="" style="text-align: center; margin: 4em 5em 0em 5em;">
							<div style="float: left;">
								<p >
									<span
										style="text-align: center;" th:text="${list.receivedby}" ></span><br>
										-----------------------<br> <span
										style="text-align: center;">Received By</span>
								</p>
							</div>
							<!--End Info-->
							<div style="float: right;">
								<p>
									<span
										style="text-align: center;" th:text="${list.approvedby}"></span><br>
										-----------------------<br> <span
										style="text-align: center;">Approved By</span>
								</p>
							</div>
							<!--End Title-->
						</div>

						<!--End InvoiceBot-->
					</div>

					<!--End Invoice-->
				</div>
			</div>
			<div class="row">
				<div class=" col-md-10">
					<div align="center" style="padding-bottom: 1em; margin-left: 190px">
						<button type="button" class="btn btn-info" id="printButton"
							onclick="javascript:printDiv('printablediv')">Print</button>
					</div>
				</div>
			</div>
			<!-- End PAge Content -->
		</div>
	</div>
	<!-- End Container fluid  -->
	<!-- footer -->
	<!-- End footer -->
	<!-- </div> -->
	<!-- End Page wrapper  -->
	<!-- End Wrapper -->
	<!-- All Jquery -->
	<script src="js/lib/jquery/jquery.min.js"></script>

	<script>
		function addRowCount(tableAttr) {
			$(tableAttr).each(
					function() {
						$('th:first-child, thead td:first-child', this).each(
								function() {
									var tag = $(this).prop('tagName');
									$(this).before('<'+tag+'></'+tag+'>');
								});
						$('td:first-child', this).each(function(i) {
							$(this).before('<td>' + (i + 1) + '</td>');
						});
					});
		}

		// Call the function with table attr on which you want automatic serial number
		addRowCount('.js-serial');
	</script>

	<script language="javascript" type="text/javascript">
		function printDiv(printablediv) {
			//Get the HTML of div
			var divElements = document.getElementById(printablediv).innerHTML;
			//Get the HTML of whole page
			var oldPage = document.body.innerHTML;

			//Reset the page's HTML with div's HTML only
			document.body.innerHTML = "<html><head><title></title></head><body>"
					+ divElements + "</body>";

			//Print Page
			window.print();

			//Restore orignal HTML
			document.body.innerHTML = oldPage;
		}
	</script>
</body>


</html>