<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="shared-header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="" sizes="16x16" href="">
    <title>Billing System</title>
    <link th:href="@{/css/lib/chartist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet"/>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
            rel="stylesheet"/>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
            rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/helper.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/font.kantipur.css}" rel="stylesheet">
    <link th:href="@{/css/lib/select2/select2.min.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link th:href="@{/css/lib/MultipleItem/openClose.css}" rel="stylesheet">
    <!-- All Jquery -->
    <!--<script th:src="@{/js/lib/MultipleItem/itemRate.js}"></script>-->

    <script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/number.to.words.js}"></script>
    <script th:src="@{/js/lib/select2/select2.full.min.js}"></script>


    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>

    <style>
        .card {
            background: #ffffff none repeat scroll 0 0;
            margin: 15px 0;
            width: 800px;
            padding: 20px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        }

        /*table#team-list {*/
            /*counter-reset: rowNumber;*/
        /*}*/

        /*table#team-list tr:nth-child(n+1) {*/
            /*counter-increment: rowNumber;*/
        /*}*/

        /*table#team-list tr:nth-child(n+1) td:first-child::before {*/
            /*content: counter(rowNumber);*/
            /*min-width: 1em;*/
            /*margin-right: 0.5em;*/
        /*}*/

    </style>
</head>
<body>
<div th:fragment="shared-body">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none"
                    stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"><a
                                class="nav-link nav-toggler hidden-md-up text-muted  "
                                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                        <li class="nav-item m-l-10"><a
                                class="nav-link sidebartoggler hidden-sm-down text-muted  "
                                href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <!-- Search -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <li class="nav-item dropdown"><a
                                class="nav-link dropdown-toggle text-muted  " href="#"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><img th:src="@{/images/bookingSystem/3.png}"
                                                           alt="user" class="profile-pic"/></a>
                            <div
                                    class="dropdown-menu dropdown-menu-right animated slideInRight">
                                <ul class="dropdown-user">
                                    <li role="separator" class="divider"></li>
                                    <div sec:authorize="hasAuthority('ADMIN')">
                                        <li><a th:href="@{/register}"><i class="ti-user"></i> Add User</a></li>
                                    </div>
                                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                    <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i>
                                        Logout</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label"></li>
                        <div sec:authorize="hasAuthority('ADMIN')">

                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i
                                    class="fa fa-gg"></i><span class="hide-menu">Parameter</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a th:href="@{/Admin/parameter}"><span class="hide-menu">Item Parameter </span></a>
                                    </li>
                                    <li><a th:href="@{/Admin/group}"><span class="hide-menu">Item Group</span> </a></li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i
                                    class="fa fa-gg"></i><span class="hide-menu">Operation</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a th:href="@{/operation}"><span class="hide-menu">Invoice Form</span></a></li>
                                    <li><a th:href="@{/operation/refund}"><span class="hide-menu">Refund Form</span></a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i
                                    class="fa fa-gg"></i><span class="hide-menu">Utilities</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a th:href="@{/Admin/utilities/calendar}"><span
                                            class="hide-menu">Calendar</span></a></li>
                                    <li><a th:href="@{/Admin/utilities/fiscal-year}"><span class="hide-menu">Fiscal
                                        Year</span></a></li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i
                                    class="fa fa-gg"></i><span class="hide-menu">Reports</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a th:href="@{/reports/bill}"><span class="hide-menu">Bill</span></a></li>
                                    <li><a th:href="@{/reports/refund}"><span class="hide-menu">Refund</span></a></li>
                                    <!--<li><a th:href="@{/reports/receipt}">Receipt</a></li>-->
                                    <li><a th:href="@{/reports/cash-collection}"><span
                                            class="hide-menu">Cash Collection</span></a></li>
                                    <li><a th:href="@{/reports/refund-statment}"><span
                                            class="hide-menu">Refund Statment</span></a></li>
                                    <li><a th:href="@{/reports/credit-bill-statment}"><span class="hide-menu">Credit Bill Statment</span></a>
                                    </li>
                                    <li><a th:href="@{/reports/daily-cash-collection}"><span class="hide-menu">Summary of daily<br> Cash
                                    Collection</span></a></li>

                                </ul>
                            </li>
                        </div>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <div th:fragment="shared-footer">
            <footer class="footer">
                © 2019 All rights reserved.
            </footer>
        </div>

</body>
</html>